/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  border: none;
  background: #002979;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

input {
  height: 30px;
}

ul {
  list-style: none;
  padding: 0;
}
